<div class="ui basic modal">
    <i class="close icon"></i>
    <div class="header">
      {{selectedCollege.descName}}
    </div>
    <div class="content">
        <div class="image">
            <i class="fa fa-file icon"></i>
        </div>
        <div class="description">
            <p>
                Silahkan upload transkrip atau laporan nilai IPK kamu. <br>
                Format file yang didukung untuk {{selectedCollege.descName}} adalah: <br>
            </p>
            <ul>
              {{#each item in selectedCollege.supportedFormats}}
                  <li>{{item}}</li>
              {{/each}}
            </ul>

            <div class="ui form">
                <div class="ui fluid icon input">
                  {{file-upload url="/import" college=selectedCollege import="importData"}}
                </div>
            </div>
        </div>
    </div>
    <div class="actions">
        <div class="ui teal progress" id="importProgress">
            <div class="bar"></div>
            <div class="label"></div>
        </div>
    </div>
</div>
